html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(white,white, grey);
}

body, div{
    display: flex;
    justify-content: center;
    align-items: center;
}
body > div {
    width: 400px;
    height: 500px;
}